# yage-manifests/addons/argocd/argocd-cr.yaml.tmpl
apiVersion: argoproj.io/v1beta1
kind: ArgoCD
metadata:
  name: argocd
  namespace: {{ .Cfg.ArgoCD.WorkloadNamespace }}
spec:
  version: {{ .Cfg.ArgoCD.Version }}
  prometheus:
    enabled: {{ isTrue .Cfg.ArgoCD.PrometheusEnabled }}
  monitoring:
    enabled: {{ isTrue .Cfg.ArgoCD.MonitoringEnabled }}
  notifications:
    enabled: true
  server:
{{- if and (isTrue .Cfg.ArgoCD.DisableOperatorManagedIngress) (isTrue .Cfg.ArgoCD.ServerInsecure) }}
    insecure: true
    ingress:
      enabled: false
    grpc:
      ingress:
        enabled: false
{{- else if isTrue .Cfg.ArgoCD.DisableOperatorManagedIngress }}
    ingress:
      enabled: false
    grpc:
      ingress:
        enabled: false
{{- else if isTrue .Cfg.ArgoCD.ServerInsecure }}
    insecure: true
    grpc:
      ingress:
        enabled: true
{{- else }}
    grpc:
      ingress:
        enabled: true
{{- end }}
