# Rendered by yage-manifests csi/ibm-vpc-block/values.yaml.tmpl.
# Operator MUST set the following via --csi-values-file or Helm override:
#   clusterInfo.clusterID: <your VPC cluster ID>
#   clusterInfo.resourceGroupID: <your IBM Cloud resource group ID>
# To use a private registry, also set:
#   image.ibmVpcBlockDriver: <registry/ibm-vpc-block-csi-driver:tag>
# The IBM Cloud API key is supplied via the kube-system/ibm-vpc-block-csi-storageclasses Secret.
